@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lora:wght@700&display=swap");
:root {
  overflow-x: hidden;
  background-color: #111117;
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
  color: #111117;
}
div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 700;
}
img {
  width: 30%;
}
#navbar {
  width: 100%;
  height: 10%;
  background: #111117;
  position: absolute;
  top: 0;
}
#nav-text {
  color: #d3e7f0;
  position: absolute;
  top: 25%;
  left: 20%;
}
#nav-span{
  color: #7be8b3;
}
#nav-github {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 3rem;
  z-index: 5;
}
#nav-linkedin {
  position: absolute;
  right: 1.5%;
  top: 10%;
  font-size: 3rem;
  z-index: 5;
}
#hook_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
#hook_name {
  font-size: 5rem;
  position: absolute;
  top: 20%;
  left: 20%;
}
#hook_desc {
  position: absolute;
  top: 31%;
  margin-top: 1%;
  margin-left: 21%;
}
#about {
  background-color: #111117;
  background-image: url("cartographer.png");
  top: 100%;
}
#about-text{
  color: #7be8b3;
  font-size: 4rem;
  position: absolute;
  margin-left: 21%;
  top: 10%;
}
#about-desc{
  color: #d3e7f0;
  position: absolute;
  margin-left: 21%;
  top: 20%;
  width: 50%;
}
#gallery {
  top: 200%;
  background: #d3e7f0;
}
.gal-image{
  position: float;
  float: left;
  margin-left: 2.5rem;
  margin-top: 1%;
}
#gal-2{
  margin-top: 3%;
}
#statement {
  top: 300%;
  background-color: #111117;
  background-image: url("asphalt.png");
  font-size: 3rem;
  text-align: center;
}
#statement-text{
  margin-left: 10%;
  width: 75%;
  color: #7be8b3;
  margin-top: 10%;
}
#statement-subtext{
  color: #d3e7f0;
  font-size: 2rem;
}
#contact {
  top: 400%;
  background: #111117;
}
#contact-items{
  position: absolute;
  top: 10%;
  align-items: center;
  text-align: center;
}
#contact-email{
  color: #d3e7f0;
  position:absolute;
  top: 20%;
  left: 47%;
  font-size: 5rem;
}
#contact-arrow{
  color: #d3e7f0;
  font-size: 1rem;
  position: absolute;
  bottom: 10%;
  margin-left: 21%;
  text-decoration: none;
}
#contact-arrow:hover{
  color: #7be8b3;
}